*{
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 7px;
  margin: 0px auto;
}

.title {
  background: #e3f4ff;
  padding: 7px;

}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  margin-top: 7px;
  background: #e3f4ff;
  text-align: center;
  padding: 10px 0px;
}

button {
  display: block;
  margin: 0px auto;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
}